* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 11pt;
  color: #d9e0ee;
}

window#waybar {
  background: #11111b;
  border-bottom: 1px solid #181825;
}

/* Общий вид кнопок workspace */
#workspaces button {
  padding: 0 6px;
  margin: 0 2px;
  background: transparent;
  color: #a6adc8;
  border-radius: 6px;
}

/* Активный workspace */
#workspaces button.active,
#workspaces button.focused {
  background: #89b4fa;     /* голубой фон */
  color: #11111b;          /* тёмный текст */
  border-radius: 10px;
}

/* Срочный (urgent) workspace */
#workspaces button.urgent {
  background: #f38ba8;
  color: #11111b;
  border-radius: 10px;
}

#window {
  padding: 0 10px;
  color: #cdd6f4;
}

#custom-dnd {
  padding: 0 8px;
  margin: 0 2px;
  background: #181825;
  border-radius: 4px;
  color: #d9e0ee;
}

/* DND on — яркий акцент */
#custom-dnd.on {
  background: #f38ba8;   /* тот же urgent pink, если хочешь выделение */
  color: #11111b;
  font-weight: 600;
  padding-right: 11px;
}

/* DND off — нейтральный */
#custom-dnd.off {
  background: #181825;
  color: #cdd6f4;
  padding-right: 9px;
}

/* missing dunstctl — серый/внимание */
#custom-dnd.missing {
  background: #3b4252;
  color: #c0caf5;
}


#tray,
#pulseaudio,
#network,
#custom-gpu,
#cpu,
#memory,
#clock,
#custom-cava_mviz,
#custom-playerctl,
#custom-kbl,
#custom-brightness {
  padding: 0 8px;
  margin: 0 2px;
  background: #181825;
  border-radius: 4px;
}
