* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 11pt;
  color: #d9e0ee;
}

window#waybar {
  background: #11111b;
  border-bottom: 1px solid #181825;
}

/* Общий вид кнопок workspace */
#workspaces button {
  padding: 0 6px;
  margin: 0 2px;
  background: transparent;
  color: #a6adc8;
  border-radius: 6px;
}

/* Активный workspace */
#workspaces button.active,
#workspaces button.focused {
  background: #89b4fa;     /* голубой фон */
  color: #11111b;          /* тёмный текст */
  border-radius: 10px;
}

/* Срочный (urgent) workspace */
#workspaces button.urgent {
  background: #f38ba8;
  color: #11111b;
  border-radius: 10px;
}

#window {
  padding: 0 10px;
  color: #cdd6f4;
}

#tray,
#pulseaudio,
#network,
#cpu,
#memory,
#clock,
#custom-cava_mviz,
#custom-playerctl,
#custom-kbl,
#custom-brightness {
  padding: 0 8px;
  margin: 0 2px;
  background: #181825;
  border-radius: 4px;
}
