* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 11pt;
  color: #d9e0ee;
}

window#waybar {
  background: #11111b;
  border-bottom: 1px solid #181825;
}

#workspaces button {
  padding: 0 8px;
  background: transparent;
  color: #a6adc8;
}

#workspaces button.focused {
  background: #313244;
  color: #f5c2e7;
}

#workspaces button.urgent {
  background: #f38ba8;
  color: #11111b;
}

#window {
  padding: 0 10px;
  color: #cdd6f4;
}

#tray,
#pulseaudio,
#network,
#cpu,
#memory,
#clock {
  padding: 0 8px;
  margin: 0 2px;
  background: #181825;
  border-radius: 4px;
}
